<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common/jquery.treeview.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/xlsx.core.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/jquery.treeview.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/return-top.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/station/sta_data.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/station/sta_excel.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/station/sta_table_sort.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/station/sta_table_adjustable.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yx/yx_data.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yx/yx_excel.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yx/yx_table_sort.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yx/yx_table_adjustable.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yc/yc_data.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yc/yc_excel.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yc/yc_table_sort.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yc/yc_table_adjustable.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yk/yk_data.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yk/yk_excel.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yk/yk_table_sort.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yk/yk_table_adjustable.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yt/yt_data.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yt/yt_excel.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yt/yt_table_sort.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/yt/yt_table_adjustable.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/soe/soe_table_sort.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/soe/soe_excel.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/soe/soe_data.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/soe/soe_table_adjustable.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/conf/monitoring_url.js')}}"></script>
</head>
<body>
<div id="header">
    <span class="span0">点表配置工具</span>
    <span class="span4" id="sta_name"></span>
    <span class="span1" id="time"><span></span>年<span></span>月<span></span>日<span></span>时<span></span>分<span></span>秒</span>
    <span class="span2"><a id="monitoring_id">监控界面</a></span>
    <span class="span3"><a id="refresh" href="#" onclick="window.location.reload()">刷新</a></span>
</div>

<div id="nav">
   <ul id="browser" class="filetree treeview-famfamfam">
   <ul id = "sta">
		<li id="station" class="closed">
            <span class="folder" onclick="show_sta_table()">厂站列表</span>
            {% for i in range(staLen) %}
			    <ul>
                    <li class="closed">
                        <span class="folder" id="staId">{{ staValue[i].ID }}</span>
                        <span class="folder" id="staName">{{ staValue[i].name }}</span>
                        <ul>
                            <li><span class="file" name="yx">遥信</span></li>
                        </ul>
                        <ul>
                            <li><span class="file" name="yc">遥测</span></li>
                        </ul>
                        <ul>
                            <li><span class="file" name="yk">遥控</span></li>
                        </ul>
                        <ul>
                            <li><span class="file" name="yt">遥调</span></li>
                        </ul>
                        <ul>
                            <li><span class="file" name="soe">SOE</span></li>
                        </ul>
                    </li>
                </ul>
            {% endfor %}
		</li>
   </ul>
   </ul>
</div>

<div id="section">
    <div class="row" id="sta_table">
    <fieldset>
        <legend class="legend">厂站数据</legend>
        <input type="button" onclick="exportExcel_sta();" value="导出Excel"/>
        <input type="button" onclick="delete_sta_data();" value="删除"/>
        <input type="button" onclick="set_sta_data();" value="保存"/>
        <input type="button" onclick="selectStaFile()" value="加载本地excel文件">
        <div id="staload"><input type="file" id="stafile"/></div>
        <p></p>
        <p></p>
        <div id="staresult" contenteditable>
            <table id="staTable" bordercolor="#aaaaaa" border="1" cellpadding="0" cellpadding="2" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" class="i-checks" id="selectAllSta"/></th>
                    <th id="th0_sta" onclick="SortTable_sta(this)" class="as">{{ tValue[0][0] }}</th>
                    <th>{{ tValue[0][1] }}</th>
                    <th>{{ tValue[0][2] }}</th>
                    <th>{{ tValue[0][3] }}</th>
                    <th>{{ tValue[0][4] }}</th>
                    <th>{{ tValue[0][5] }}</th>
                    <th>{{ tValue[0][6] }}</th>
                </tr>
                </thead>
                <tbody id="tBody_sta">
                </tbody>
            </table>
        </div>
    </fieldset>
    <input type="button" onClick="deleteStaRow();" value="-"/>
    <input type="button" onClick="addStaRow();" value="+"/>
</div>

    <div class="row" id="yc_table">
    <fieldset>
        <legend class="legend">遥测数据</legend>
        <input type="button" onclick="exportExcel_yc();" value="导出Excel">
        <input type="button" onclick="delete_yc_data();" value="删除"/>
        <input type="button" onclick="set_yc_data();" value="保存"/>
        <input type="button" onclick="selectYcFile();" value="加载本地excel文件">
        <div id="ycload"><input type="file" id="ycfile"/></div>
        <p></p>
        <p></p>
        <div id="ycresult" contenteditable>
            <table id="ycTable" bordercolor="#aaaaaa" border="1" cellpadding="0" cellpadding="2" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" class="i-checks" id="selectAllYc"/></th>
                    <th id="th0_yc" onclick="SortTable_yc(this)" class="as">{{ tValue[1][0] }}</th>
                    <th>{{ tValue[1][1] }}</th>
                    <th>{{ tValue[1][2] }}</th>
                    <th>{{ tValue[1][3] }}</th>
                    <th>{{ tValue[1][4] }}</th>
                    <th>{{ tValue[1][5] }}</th>
                    <th>{{ tValue[1][6] }}</th>
                    <th>{{ tValue[1][7] }}</th>
                    <th>{{ tValue[1][8] }}</th>
                </tr>
                </thead>
                <tbody id="tBody_yc">
                </tbody>
            </table>
        </div>
    </fieldset>
    <input type="button" onclick="deleteYcRow();" value="-"/>
    <input type="button" onclick="addYcRow();" value="+"/>
</div>

    <div class="row" id="yx_table">
    <fieldset>
        <legend class="legend">遥信数据</legend>
        <input type="button" onclick="exportExcel_yx();" value="导出Excel"/>
        <input type="button" onclick="delete_yx_data();" value="删除"/>
        <input type="button" onclick="set_yx_data();" value="保存"/>
{#        <input type="file" id="yxfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>#}
        <div id="yxload"><input type="file" id="yxfile"/></div>
        <input type="button" onclick="selectYxFile();" value="加载本地excel文件"/>
        <p></p>
        <p></p>
        <div id="yxresult" contenteditable>
            <table id="yxTable" bordercolor="#aaaaaa" border="1" cellpadding="0" cellpadding="2" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" class="i-checks" id="selectAllYx"/></th>
                    <th id="th0_yx" onClick="SortTable_yx(this)" class="as">{{ tValue[2][0] }}</th>
                    <th>{{ tValue[2][1] }}</th>
                    <th>{{ tValue[2][2] }}</th>
                    <th>{{ tValue[2][3] }}</th>
                    <th>{{ tValue[2][4] }}</th>
                    <th>{{ tValue[2][5] }}</th>
                    <th>{{ tValue[2][6] }}</th>
                    <th>{{ tValue[2][7] }}</th>
                    <th>{{ tValue[2][8] }}</th>
                    <th>{{ tValue[2][9] }}</th>
                    <th>{{ tValue[2][10] }}</th>
                    <th>{{ tValue[2][11] }}</th>
                </tr>
                </thead>
                <tbody id="tBody_yx">
                </tbody>
            </table>
        </div>
    </fieldset>
    <input type="button" onclick="deleteYxRow();" value="-"/>
    <input type="button" onclick="addYxRow();" value="+"/>
</div>

    <div class="row" id="yk_table">
    <fieldset>
        <legend class="legend">遥控数据</legend>
        <input type="button" onclick="exportExcel_yk();" value="导出Excel"/>
        <input type="button" onclick="delete_yk_data();" value="删除"/>
        <input type="button" onclick="set_yk_data();" value="保存"/>
        <input type="button" onclick="selectYkFile();" value="加载本地excel文件"/>
        <div id="ykload"><input type="file" id="ykfile"/></div>
        <p></p>
        <p></p>
        <div id="ykresult" contenteditable>
            <table id="ykTable" bordercolor="#aaaaaa" border="1" cellpadding="0" cellpadding="2" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" class="i-checks" id="selectAllYk"/></th>
                    <th id="th0_yk" onclick="SortTable_yk(this)" class="as">{{ tValue[3][0] }}</th>
                    <th>{{ tValue[3][1] }}</th>
                    <th>{{ tValue[3][2] }}</th>
                    <th>{{ tValue[3][3] }}</th>
                    <th>{{ tValue[3][4] }}</th>
                    <th>{{ tValue[3][5] }}</th>
                    <th>{{ tValue[3][6] }}</th>
                    <th>{{ tValue[3][7] }}</th>
                    <th>{{ tValue[3][8] }}</th>
                    <th>{{ tValue[3][9] }}</th>
                </tr>
                </thead>
                <tbody id="tBody_yk">
                </tbody>
            </table>
        </div>
    </fieldset>
    <input type="button" onclick="deleteYkRow();" value="-"/>
    <input type="button" onclick="addYkRow();" value="+"/>
</div>

    <div class="row" id="yt_table">
    <fieldset>
        <legend class="legend">遥调数据</legend>
        <input type="button" onclick="exportExcel_yt();" value="导出Excel">
        <input type="button" onclick="delete_yt_data();" value="删除">
        <input type="button" onclick="set_yt_data();" value="保存"/>
        <input type="button" onclick="selectYtFile();" value="加载本地excel文件">
        <div id="ytload"><input type="file" id="ytfile"/></div>
        <p></p>
        <p></p>
        <div id="ytresult" contenteditable>
            <table id="ytTable" bordercolor="#aaaaaa" border="1" cellpadding="0" cellpadding="2" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" class="i-checks" id="selectAllYt"/></th>
                    <th id="th0_yt" onclick="SortTable_yt(this)" class="as">{{ tValue[4][0] }}</th>
                    <th>{{ tValue[4][1] }}</th>
                    <th>{{ tValue[4][2] }}</th>
                    <th>{{ tValue[4][3] }}</th>
                    <th>{{ tValue[4][4] }}</th>
                    <th>{{ tValue[4][5] }}</th>
                    <th>{{ tValue[4][6] }}</th>
                    <th>{{ tValue[4][7] }}</th>
                    <th>{{ tValue[4][8] }}</th>
                </tr>
                </thead>
                <tbody id="tBody_yt">
                </tbody>
            </table>
        </div>
    </fieldset>
    <input type="button" onclick="deleteYtRow();" value="-"/>
    <input type="button" onclick="addYtRow();" value="+"/>
</div>

    <div class="row" id="soe_table">
    <fieldset>
        <legend class="legend">SOE数据</legend>
        <input type="button" onclick="exportExcel_soe();" value="导出Excel"/>
        <input type="button" onclick="delete_soe_data();" value="删除"/>
        <input type="button" onclick="set_soe_data();" value="保存"/>
        <input type="button" onclick="selectSoeFile();" value="加载本地excel文件"/>
        <div id="soeload"><input type="file" id="soefile"/></div>
        <p></p>
        <p></p>
        <div id="soeresult" contenteditable>
            <table id="soeTable" bordercolor="#aaaaaa" border="1" cellpadding="0" cellpadding="2" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" class="i-checks" id="selectAllSoe"/></th>
                    <th id="th0_soe" onclick="SortTable_soe(this)" class="as">{{ tValue[5][0] }}</th>
                    <th>{{ tValue[5][1] }}</th>
                    <th>{{ tValue[5][2] }}</th>
                    <th>{{ tValue[5][3] }}</th>
                </tr>
                </thead>
                <tbody id="tBody_soe">
                </tbody>
            </table>
        </div>
    </fieldset>
    <input type="button" onclick="deleteSoeRow();" value="-"/>
    <input type="button" onclick="addSoeRow();" value="+"/>
    </div>

</div>

<div id="footer">
    @2019  西安端怡科技有限公司
    <div id="to_top" title="返回顶部"><img src="../static/css/img/rocket-top.jpg"></div>
    <span id="about">关于产品</span>
    <span id="contect">联系我们</span>
</div>
</body>
</html>